<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="assets/styles/loadingpage.css">
</head>
<body>
    <div class="error-container">
        <img src="assets/images/error.png" alt="Error" width="600" height="600">
        <h2 class="error-text">Hubo un error inesperado obteniendo los productos</h2>
        <p class="error-text">Por favor asegurate de que estás ingresando un producto de tecnología válido e intenta nuevamente.</p>
        <p class="error-text">En algunos casos pueden haber fallos por culpa de una conexión lenta, un fallo de nuestro servidor o un fallo de la página. Te animamos a que vuelvas a intentar porfavor.</p>
    </div>
    <button onclick="window.location.href = '/'">Volver a la página principal</button>
</body>
</html>


