<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando...</title>
    <link rel="stylesheet" href="assets/styles/loadingpage.css">
    <script src="scripts/navigation.js"></script>
</head>
<body onload="renderSearchResults('<%= productName %>', '<%= order %>')">
    <div class="loading-container">
        <img src="assets/images/loading.gif" alt="Cargando..." width="600" height="600">
        <h2 class="loading-text">Extrayendo información de los productos...</h2>
        <p class="loading-text">Esto puede tardar unos minutos, por favor espere pacientemente.</p>
    </div>
</body>
</html>


