<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PriceHive</title>
    <link rel="stylesheet" href="assets/styles/mainpage.css">
</head>
<body>
    <div class="container">
        <img class="logo" src="assets/images/logo.png" alt="Imagen logo">
        <h1>PriceHive</h1>
        <form id="searchForm" action="/loading" method="post">
            <input type="text" name="productName" placeholder="Ingrese el producto a buscar">
            <input type="hidden" name="order" value="null">
            <button type="submit">Buscar</button>
        </form>
        <p class="description">Bienvenido a PriceHive, el mejor comparador de precios de productos de tecnología. Encuentra las mejores ofertas en productos <b>nuevos</b> (nada de usados o reacondicionados) de tecnología comparando entre Alkosto, Éxito, Falabella, Mercado Libre y Olímpica.</p>
        <p class="description">Por favor escribe en la barra de búsqueda el producto que deseas comprar, asegurándote de que sea la referencia exacta y bien escrita. La búsqueda no es sensible a mayúsculas.</p>
        <p class="description">Recuerda que siempre puedes regresar a este menú principal presionando el logo de PriceHive en la página de resultados. ¡Empieza a buscar las mejores ofertas en tecnología!</p>
    </div>
</body>
</html>
