body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.error-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.error-btn {
    background-color: rgb(232, 100, 100);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.error-btn:hover {
    background-color: red;
}

html, body {
    background-color: #ffcccc;
}
