.productrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    margin: 20px 40px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.productitem{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 42%;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px;
}

.productitem img{
    width: 60%;
    height: auto
}

.especificaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body{
    background-color: lightblue;
}

body{
    margin: 0;
    padding: 0;
}

.logo{
    height: 300px;
    width: auto;
    cursor: pointer;
}

.btn {
    background-color: wheat;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
  }

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px; /* Ajusta el margen superior según sea necesario */
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Ajusta el ancho según sea necesario */
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: wheat; /* Cambia el color de fondo según tus preferencias */
    color: black;
    border: 2px solid black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sortrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
}

.mtop{
    margin-top: 20px;
}

.navfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.navcont{
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navtextcont{
    display: flex;
    align-items: center;
}

.navtext{
    margin: 0 20px;
    font-size: 20px;
    color: black;
}

a.navtext{
    color: lightseagreen;
}

.filler{
    width: 16%;
}

.pseudolink{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: goldenrod;
}