body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.loading-container {
    text-align: center;
}

.loading-text {
    font-size: 24px;
    margin-bottom: 20px;
}

html, body{
    background-color: lightblue;
}