body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.logo {
    height: 50px;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.sortrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.productrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productitem {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    flex-basis: calc(33% - 40px);
    box-sizing: border-box;
    max-width: calc(33% - 40px);
    text-align: center;
}

.productitem img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.contprecio {
    color: #e91e63;
    font-size: 1.2em;
    margin: 10px 0;
}

.btn.mtop {
    margin-top: 10px;
}

footer.navfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.navfooter .navcont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navtextcont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.navtext {
    margin: 0 5px;
    cursor: pointer;
}

.pseudolink {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.emptylist {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.column {
    text-align: center;
    padding: 20px;
}

.btn.mleft {
    margin-left: 10px;
    background-color: #fff;
    color: #4CAF50;
}

footer.navfooter .navtextcont .navtext,
footer.navfooter .navtextcont .pseudolink {
    margin: 0 5px;
}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.especificaciones {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.expanded {
    -webkit-line-clamp: initial;
    max-height: none;
}
.more-button {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}